.question-picture {
  margin: 0.2em 0;
  max-width: 25em;
  min-width: 25%;
  border: black 1px solid;
}

.question {
  padding: 0.2em;
  text-align: left;
}

.answer {
  padding: 0.2em;
  border: 1px black solid;
  background-color: #C8E6C9;
}

.proposition {
  margin: 0.5em;;
}

.action {
  margin: 0.5em 0;
}
